.fuente__quick {
    font-family: "quicksand";
    font-size: 1.2em;
    font-weight: bolder;
}

.pillS {
    color: black;
    font-family: $quicksand;
}
.nav-pills > .active {
background-color: #35464e !important;
}